
/* ==========================================================================
   Color
   ========================================================================== */
$white: #fff;
$black: #000;
$trans-grey: #AA95A6;
$trans-yellow: #FDF9ED;
$orange: #EC9378;
$light-green: #CEE3C9;
$dark-green: #4E7B71;



$trans-black: rgba(0,0,0, 0.5);
$alt-black: #333;
$grey: #E7ECF3;
$blue: #0093D9;
$dark-blue: #003F79;
$trans-red: #F9F0F0;
$red: #E73F3F;